PORT=3059
DATABASE_USER=root
DATABASE_PASSWORD=
JWT_ACCESS_TOKEN=
APP_BASE_URL=http://localhost:3059

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_LOGIN_REDIRECT=/home

# Existing business settings
MINIMUM_MONEY=200
