<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>London Club</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        .mian[data-v-31900034] {
            background-color: #22275b
        }

        .mian .list[data-v-31900034] {
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .list .item[data-v-31900034] {
            padding: .4rem .26667rem;
            border-bottom: .02667rem solid #f2f5f7
        }

        .mian .list .item .tit[data-v-31900034] {
            margin-bottom: .13333rem;
            font-size: .42667rem;
            font-weight: 600
        }

        .mian .list .item .time[data-v-31900034] {
            font-size: .37333rem;
            color: #889198
        }

        .mian .list .item .number[data-v-31900034] {
            font-family: BalooThambi-Regular;
            font-weight: 600;
            font-size: .48rem
        }

        .mian .list .item .number.red[data-v-31900034] {
            color: #f2443e
        }

        .mian .list .item .number.green[data-v-31900034] {
            color: #6bbe58
        }

        .mian .page-nav[data-v-31900034] {
            margin-top: .53333rem;
            padding-bottom: .53333rem;
            height: 1.06667rem
        }

        .mian .page-nav .number[data-v-31900034] {
            width: 2.66667rem;
            height: 1.06667rem;
            line-height: 1.06667rem;
            background-color: #f6f7f8
        }

        .mian .page-nav .arr[data-v-31900034] {
            height: 1.06667rem;
            width: 1.06667rem;
            background-color: #d8d8d8;
            border-radius: .13333rem
        }

        .mian .page-nav .arr .icon[data-v-31900034] {
            color: #7f7f7f
        }

        .mian .page-nav .arr .icon.action[data-v-31900034] {
            color: #fff
        }

        .mian .page-nav .arr.action[data-v-31900034] {
            background-color: #fb4e4e
        }
        .mian .check-box .list1[data-v-2973c506] {
            padding: 0 .4rem
        }

        .mian .check-box .list1 .hd[data-v-2973c506] {
            border-top: .05333rem solid #2aaaf3;
            height: 1.06667rem;
            line-height: 1.01333rem
        }

        .mian .check-box .list1 .hd .item[data-v-2973c506] {
            height: 1.06667rem;
            line-height: 1.01333rem;
            flex: 1;
            text-align: center;
            font-size: .34667rem;
            background-color: #59b0ea;
            color: #ffffff
        }

        .mian .check-box .list1 .bd .item[data-v-2973c506] {
            height: .93333rem;
            line-height: .93333rem;
            flex: 1;
            text-align: center;
            font-size: .34667rem;
            background-color: #22275b;
            border: .02667rem solid #2aaaf3;
            margin-bottom: -.02667rem
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-31900034="" class="mian">
            <div data-v-106b99c8="" data-v-31900034="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/rebate'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Rebate History </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-2973c506="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div class="rebate-list">

            </div>
            
        </div>
    </div>
    <div class="van-overlay" style="z-index: 2003; display: none;">
        <div data-v-7692a079="" data-v-42f27458="" class="Loading c-row c-row-middle-center"
        style="position: fixed;height: 100vh;width: 100vw;top: 0;left: 0;background: rgba(0,0,0,.6);z-index: 99999;">
          <div data-v-7692a079="" class="van-loading van-loading--circular">
            <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
            style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
              style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                style="display: block;">
                  <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                  xlink:href="/index_files/loadingspinner.png">
                  </image>
                </g>
              </svg>
            </span>
            <img src="/index_files/h5setting_202401100608011fs2.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 168px; height: 44px;">
          </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        const alertMess = (text, sic) => {
            $('body').append(
                `
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                    </div>
                    `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }

        $(document).ready(function () {
            $('.van-overlay').fadeIn(10);
        });
        $(window).on('load',
            function () {
                $('.van-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/rebats-history",
                    data: {},
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            const { data } = response;
                           if(data.length > 0){
                             let text =`<div data-v-2973c506="" class="check-box">
                                        <div data-v-2973c506="" class="list1 m-t-15">
                                          <div data-v-2973c506="" class="hd c-row u-row-between">
                                            <div data-v-2973c506="" class="item">Phone No.</div>
                                            <div data-v-2973c506="" class="item">Transfer Money</div>
                                             <div data-v-2973c506="" class="item" style='flex:1.4'>Time</div>
                                          </div>`
                    for(let i of data){
                        text+=`<div data-v-2973c506="" class="bd c-row u-row-between">
                        <div data-v-2973c506="" class="item"><span data-v-2973c506="" class="txt">${i.phone}</span>
                        </div>
                        <div data-v-2973c506="" class="item">${i.money}</div>
                        <div data-v-2973c506="" class="item" style='flex:1.4'>${i.time}</div>
                        </div>
                        </div>`
                    }
                    text+=`</div></div>`;
                    $('.rebate-list').html(text)
                           }
                           else{
                            let text=`<div data-v-31900034="" class="list p-t-80">
                <div data-v-31900034="" class="van-empty">
                    <div class="van-empty__image"><img src="/images/empty-image-default.png" /></div>
                    <p class="van-empty__description">No Data</p>
                </div>
            </div>`
                             $('.rebate-list').html(text)
                           }
                            setTimeout($('.van-overlay').fadeOut(300), 500);
                        }
                        else {
                            setTimeout(alertMess(response.message, $(this)), 350)
                            setTimeout($('.van-overlay').fadeOut(300), 500)
                        }
                    }
                });

            });

    </script>
</body>

</html>