<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>London Club</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        *{
            font-family: Inter, sans-serif;
        }

        .mian[data-v-31900034] {
            background-color: #22275b
        }

        .mian .list[data-v-31900034] {
            border-radius: .4rem;
            overflow: hidden
        }

        .mian .list .item[data-v-31900034] {
            padding: .4rem .26667rem;
            border-bottom: .02667rem solid #f2f5f7
        }

        .mian .list .item .tit[data-v-31900034] {
            margin-bottom: .13333rem;
            font-size: .42667rem;
            font-weight: 600
        }

        .mian .list .item .time[data-v-31900034] {
            font-size: .37333rem;
            color: #889198
        }

        .mian .list .item .number[data-v-31900034] {
            font-family: BalooThambi-Regular;
            font-weight: 600;
            font-size: .48rem
        }

        .mian .list .item .number.red[data-v-31900034] {
            color: #f2443e
        }

        .mian .list .item .number.green[data-v-31900034] {
            color: #6bbe58
        }

        .mian .page-nav[data-v-31900034] {
            margin-top: .53333rem;
            padding-bottom: .53333rem;
            height: 1.06667rem
        }

        .mian .page-nav .number[data-v-31900034] {
            width: 2.66667rem;
            height: 1.06667rem;
            line-height: 1.06667rem;
            background-color: #f6f7f8
        }

        .mian .page-nav .arr[data-v-31900034] {
            height: 1.06667rem;
            width: 1.06667rem;
            background-color: #d8d8d8;
            border-radius: .13333rem
        }

        .mian .page-nav .arr .icon[data-v-31900034] {
            color: #7f7f7f
        }

        .mian .page-nav .arr .icon.action[data-v-31900034] {
            color: #fff
        }

        .mian .page-nav .arr.action[data-v-31900034] {
            background-color: #fb4e4e
        }
        .mian .check-box .list1[data-v-2973c506] {
            padding: 0 .4rem
        }

        .mian .check-box .list1 .hd[data-v-2973c506] {
            border-top: .05333rem solid #2aaaf3;
            height: 1.06667rem;
            line-height: 1.01333rem
        }

        .mian .check-box .list1 .hd .item[data-v-2973c506] {
            height: 1.06667rem;
            line-height: 1.01333rem;
            flex: 1;
            text-align: center;
            font-size: .34667rem;
            background-color: #59b0ea;
            color: #ffffff
        }

        .mian .check-box .list1 .bd .item[data-v-2973c506] {
            height: .93333rem;
            line-height: .93333rem;
            flex: 1;
            text-align: center;
            font-size: .34667rem;
            background-color: #22275b;
            border: .02667rem solid #2aaaf3;
            margin-bottom: -.02667rem
        }
.dailyRate{
    width: 4.16rem;
    height: .53333rem;
    line-height: .53333rem;
    text-align: center;
    color: #D23838;
    background: #2b3270;
    border-radius: .53333rem;
    font-weight: 400;
    font-size: .32rem;
    font-style: normal;
        }
    .TotalAssets__container[data-v-d24f0506] {
    width: 100%;
    height: 3.46667rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: .26667rem;
    color: var(--text_color_L4);
    padding: .38667rem .33333rem 0;
    background-image: url(/assets/png/TotalAssetsBg-a7cff097.png);
}
.TotalAssets__container-header[data-v-d24f0506] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: .53333rem;
}
.TotalAssets__container-header__left svg[data-v-d24f0506] {
    margin-right: .21333rem;
    min-width: .48rem;
    min-height: .48rem;
}
.TotalAssets__container-header__right[data-v-d24f0506] {
    height: .53333rem;
    border: .01333rem solid #F0F1F5;
    border-radius: .18667rem;
    font-weight: 400;
    font-size: .29333rem;
    padding: 0 .36rem;
    color: #F0F1F5;
    display: flex;
    align-items: center;
}
.TotalAssets__container-main[data-v-d24f0506] {
    height: .73333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: .21333rem .37333rem .37333rem 0;
    font-weight: 700;
    font-size: .64rem;
    text-shadow: 0 .01333rem 0 rgba(0, 0, 0, .12);
    color: #F0F1F5;
}
.TotalAssets__container-tip[data-v-d24f0506] {
    font-size: .29333rem;
    color: #F0F1F5;
}
.StrongBox__container-income[data-v-002ff529] {
    margin-top: .26667rem;
    min-height: 5.13333rem;
    background: #2B3270;
    border-radius: .13333rem;
    padding: .4rem .18667rem .10667rem;
}
.StrongBox__container-income-header-left[data-v-002ff529], .StrongBox__container-income-header-right[data-v-002ff529] {
    text-align: center;
    width: 50%;
    padding: .12rem .26667rem 0;
}
.StrongBox__container-income-header-left-num[data-v-002ff529] {
    color: #D23838;
    height: .48rem;
    line-height: .48rem;
    font-size: .48rem;
}
.StrongBox__container-income-header-left-text[data-v-002ff529], .StrongBox__container-income-header-right-text[data-v-002ff529] {
    height: .37333rem;
    font-size: .32rem;
    color: #ACAFC2;
    margin: .16rem 0;
}
.StrongBox__container-income-header-left-myrale[data-v-002ff529], .StrongBox__container-income-header-right-myrale[data-v-002ff529] {
    height: .48rem;
    border: .01333rem solid #757BA6;
    border-radius: .53333rem;
    min-width: 2.93333rem;
    font-size: .29333rem;
    color: #757BA6;
    margin: auto;
}
.StrongBox__container-income-header-right[data-v-002ff529] {
    border-left: .01333rem solid #374992;
}
.StrongBox__container-income-header-right-num[data-v-002ff529] {
    color: #F0F1F5;
    height: .48rem;
    line-height: .48rem;
    font-size: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.StrongBox__container-income-buttom>div[data-v-002ff529] {
    width: 4.34667rem;
    height: .93333rem;
    line-height: .93333rem;
    border: .01333rem solid #61a9ff;
    border-radius: .13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #61a9ff;
    text-align: center;
}
.StrongBox__container-income-buttom>div+div[data-v-002ff529] {
    background: #61a9ff !important;
    color: #F0F1F5;
}
.StrongBox__container-income-tip[data-v-002ff529] {
    font-size: .29333rem;
    color: #D23838;
    margin-top: .33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
}
.StrongBox__container-errorTip[data-v-002ff529] {
    width: .4rem;
    height: .4rem;
    margin-right: .12rem;
}
.StrongBox__container-income-godetail[data-v-002ff529] {
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .32rem;
    color: #ACAFC2;
    margin-top: .46667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.StrongBox__container-income-godetail img[data-v-002ff529] {
    width: .42667rem;
    height: .42667rem;
}
.StrongBox__container-record[data-v-002ff529] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 600;
    font-size: .42667rem;
    color: #f0f1f5;
    margin-top: .8rem;
    margin-bottom: .49333rem;
}
.StrongBoxRecordCard__container[data-v-6cfd8c1d] {
    height: 3.73333rem;
    background: #2b3270;
    margin-bottom: .26667rem;
    border-radius: .13333rem;
    padding: .33333rem .18667rem .37333rem;
}
.StrongBoxRecordCard__container>div[data-v-6cfd8c1d] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.StrongBoxRecordCard__container-buttom[data-v-6cfd8c1d] {
    width: 2.13333rem;
    padding:5px 0px;
    border: .01333rem solid #61a9ff;
    color: #61a9ff;
    font-weight: 500;
    font-size: .32rem;
    border-radius: .13333rem;
    text-align: center;
}
.StrongBoxRecordCard__container-num[data-v-6cfd8c1d] {
    font-size: .4rem;
    color: #dd9138;
}
.StrongBoxRecordCard__container>div+div[data-v-6cfd8c1d] {
    margin-top: .13333rem;
}
.StrongBoxRecordCard__container-rale[data-v-6cfd8c1d] {
    height: .8rem;
    line-height: .8rem;
    background: #22275b;
    font-size: .32rem;
    color: #17b15e;
    padding: 0 .26667rem;
}
.StrongBoxRecordCard__container-rale-num[data-v-6cfd8c1d] {
    font-weight: 500;
    font-size: .37333rem;
    color: var(--norm_red-color);
}
.StrongBoxRecordCard__container>div[data-v-6cfd8c1d]:last-child {
    margin-top: .26667rem;
}
.StrongBoxRecordCard__container-last[data-v-6cfd8c1d] {
    font-size: .32rem;
    color: #acafc2;
}
.StrongBoxRecordCard__container-first.transferIn .StrongBoxRecordCard__container-buttom[data-v-6cfd8c1d] {
    background-color: #61a9ff;
    color: #f0f1f5;
}
.StrongBox__container-allRecord[data-v-002ff529] {
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    border: .01333rem solid #61a9ff;
    border-radius: .8rem;
    font-weight: 400;
    font-size: .37333rem;
    color: #61a9ff;
    margin-top: .8rem;
}
.van-popup {
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background: #201d2b;
    -webkit-overflow-scrolling: touch;
}
.popup__header[data-v-002ff529] {
    height: .58667rem;
    font-weight: 400;
    font-size: .48rem;
    line-height: .58667rem;
    margin-top: .46667rem;
    color: #F0F1F5;
    text-align: center;
}
.popup__amount[data-v-002ff529] {
    width: 5.86667rem;
    height: .53333rem;
    background: #374992;
    border-radius: .8rem;
    color: #F0F1F5;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: .22667rem;
    margin-bottom: .38667rem;
}
.popup__amount div[data-v-002ff529] {
    height: .36rem;
    line-height: .36rem;
    font-size: .29333rem;
    width: 50%;
    text-align: right;
    padding-right: .4rem;
}
.popup__amount div+div[data-v-002ff529] {
    color: #dd9138;
    text-align: left;
    padding-left: .4rem;
}
.popup__container[data-v-002ff529] {
    padding: 0 .33333rem;
}
.popup__container-input[data-v-002ff529] {
    border: .01333rem solid #374992;
    height: .93333rem;
    border-radius: .16rem;
    padding: 0 .26667rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: unset;
    color: #F0F1F5;
}
.van-cell__value {
    position: relative;
    overflow: hidden;
    color: #969799;;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;
}
.van-field__value {
    overflow: visible;
}
.van-field__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    color: #f0f1f5;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
    -webkit-user-select: auto;
    user-select: auto;
}
.popup__container-errorTip[data-v-002ff529] {
    height: .48rem;
    line-height: .48rem;
    font-weight: 400;
    font-size: .29333rem;
    color: #d23838;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: .10667rem;
}
.van-cell:after{
    border-bottom: 0px !important;
}
.popup__container-multiple[data-v-002ff529] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: .37333rem 0 .2rem;
}
.popup__container-multiple>div[data-v-002ff529] {
    width: calc(25% - .28rem);
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background: #374992;
    border-radius: .13333rem;
    font-weight: 400;
    font-size: .42667rem;
    color: #f0f1f5;
    margin-bottom: .21333rem;
}
.popup__container-multiple>div.active[data-v-002ff529] {
    background: linear-gradient(90deg, #2AAAF3 0%, #2979F2 100%);
    color: #f0f1f5;
}
.popup__container-numLine[data-v-002ff529] {
    height: .8rem;
    line-height: .8rem;
    border: .01333rem solid #374992;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: .34667rem;
}
.popup__container-numLine>div[data-v-002ff529]:first-child {
    background: -webkit-linear-gradient(152deg, transparent .46667rem, #374992 0) 0 0;
    background: linear-gradient(298deg, transparent .46667rem,#374992 0) 0 0;
    color: #ACAFC2;
    padding-left: .26667rem;
}
.popup__container-numLine>div[data-v-002ff529] {
    width: 50%;
    padding-left: .74667rem;
}
.popup__container-numLine-num[data-v-002ff529] {
    font-weight: 400;
    font-size: .4rem;
    color: #f0f1f5;
}
.popup__container .betTip[data-v-002ff529] {
    font-size: .32rem;
    font-weight: 400;
    color: #acafc2;
    margin-top: .26667rem;
    margin-bottom: .58667rem;
}
.popup__container .betTip span[data-v-002ff529] {
    color: #d23838;
}
.popup__container-numLine-num.red[data-v-002ff529] {
    color: #d23838;
    font-weight: 500;
}
.popup__container-sumbit.disabled[data-v-002ff529] {
    background: #454456;
    color:#acafc2;
    pointer-events: none;
}
.popup__container-sumbit[data-v-002ff529] {
    height: 1.06667rem;
    line-height: 1.06667rem;
    color: #61a9ff;
    background: #374992;
    text-align: center;
    font-weight: 700;
    font-size: .45333rem;
    margin-top: .37333rem;
}
.dialog[data-v-3e71d3da] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: var(--bgcolor-32);
    -webkit-transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    z-index: 2004;
}
.dialog.active .dialog__container[data-v-3e71d3da] {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.dialog__container[data-v-3e71d3da] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 8rem;
    min-height: 5.33333rem;
    border-radius: .26667rem;
    background: #2b3270;
    -webkit-transition: opacity .3s, -webkit-transform .3s ease-in-out;
    transition: opacity .3s, -webkit-transform .3s ease-in-out;
    transition: opacity .3s, transform .3s ease-in-out;
    transition: opacity .3s, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 2003;
    padding: .26667rem;
    border-radius: 20px;
}
.dialog__outside[data-v-3e71d3da] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    background: rgba(0, 0, 0, .6);
    z-index: 2002;
}
.dialog__container-img[data-v-3e71d3da] img {
    width: 2.24rem;
    height: 2.24rem;
    object-fit: contain;
}
.dialog__container-title[data-v-3e71d3da] {
    margin-top: .34667rem;
    font-size: .48rem;
    font-weight: 700;
    color: #f0f1f5;
}
.dialog__container-content[data-v-3e71d3da] {
    margin-top: .29333rem;
    color: #acafc2;
    font-size: .32rem;
    font-weight: 400;
}
.dialog__container-footer[data-v-3e71d3da] {
    display: initial;
    width: 100%;
    margin-top: .8rem;
    padding: 0 .26667rem;
}
.dialog__container-footer button[data-v-3e71d3da]:first-of-type {
    margin-bottom: .26667rem;
    color: #f0f1f5;
    background: linear-gradient(90deg, #2AAAF3 0%, #2979F2 100%);
}
.dialog__container-footer button[data-v-3e71d3da] {
    width: 100%;
    height: 1.06667rem;
    color: #61a9ff;
    font-size: .42667rem;
    text-align: center;
    border-radius: 9rem;
    border: .01333rem solid #61a9ff;
    background: transparent;
}
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-31900034="" class="mian">
            <div data-v-106b99c8="" data-v-31900034="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Safe </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-2973c506="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div style="padding: 0rem .34667rem .34667rem;">
                <div style="display: flex;justify-content: center; padding:20px;">
                    <div class="dailyRate">Interest rate 0.10%</div>
                </div>
                <div data-v-d24f0506="" data-v-002ff529="" class="TotalAssets__container">
                    <div data-v-d24f0506="" class="TotalAssets__container-header">
                        <div data-v-d24f0506="" class="TotalAssets__container-header__left">
                            <img src="/assets/png/weal4-109d3cf6.png" class="svg-icon icon-vault">
                            <!-- <svg data-v-d24f0506="" class="svg-icon icon-vault">
                                <use xlink:href="#icon-vault"></use>
                            </svg> -->
                        </div>
                        <div data-v-d24f0506="" class="TotalAssets__container-header__right">
                            <img src="/assets/png/secure.png" class="svg-icon icon-safeIcon" style="margin-right: 2px;" />
                            <!-- <svg data-v-d24f0506=""
                                class="svg-icon icon-safeIcon">
                                <use xlink:href="#icon-safeIcon"></use>
                            </svg> -->
                             Financial security</div>
                    </div>
                    <div data-v-d24f0506="" class="TotalAssets__container-main safe-amount">₹0.00</div>
                    <div data-v-d24f0506="" class="TotalAssets__container-tip">Transfer in 1 million, income 1000 per
                        day</div>
                </div>
                <div data-v-002ff529="" class="StrongBox__container-income">
                    <div data-v-002ff529="" class="StrongBox__container-income-header" style="display: flex;">
                        <div data-v-002ff529="" class="StrongBox__container-income-header-left">
                            <div data-v-002ff529="" class="StrongBox__container-income-header-left-num ">₹<span class="interest-amount">0.00</span></div>
                            <div data-v-002ff529="" class="StrongBox__container-income-header-left-text">Generated
                                revenue</div>
                            <div data-v-002ff529="" class="StrongBox__container-income-header-left-myrale">My interest
                                rate 0.1%</div>
                        </div>
                        <div data-v-002ff529="" class="StrongBox__container-income-header-right">
                            <div data-v-002ff529="" class="StrongBox__container-income-header-right-num total-interest">₹0.00</div>
                            <div data-v-002ff529="" class="StrongBox__container-income-header-right-text">Accumulated
                                revenue</div>
                        </div>
                    </div>
                    <div data-v-002ff529="" class="StrongBox__container-income-buttom"
                        style="display: flex;justify-content: space-between;margin-top: .33333rem;">
                        <div data-v-002ff529="" onclick="transferOut()">Transfer Out</div>
                        <div data-v-002ff529="" onclick="transferIn()">Transfer In</div>
                    </div>
                    <div data-v-002ff529="" class="StrongBox__container-income-tip">
                        <svg data-v-002ff529="" width="30" height="30" viewBox="0 0 30 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="StrongBox__container-errorTip">
                            <path
                                d="M15 27.5C18.4517 27.5 21.5768 26.1009 23.8388 23.8388C26.1009 21.5768 27.5 18.4517 27.5 15C27.5 11.5482 26.1009 8.42325 23.8388 6.16116C21.5768 3.89911 18.4517 2.5 15 2.5C11.5482 2.5 8.42325 3.89911 6.16116 6.16116C3.89911 8.42325 2.5 11.5482 2.5 15C2.5 18.4517 3.89911 21.5768 6.16116 23.8388C8.42325 26.1009 11.5482 27.5 15 27.5Z"
                                stroke="#FE6868" stroke-linejoin="round"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15 23.125C15.8629 23.125 16.5625 22.4254 16.5625 21.5625C16.5625 20.6996 15.8629 20 15 20C14.1371 20 13.4375 20.6996 13.4375 21.5625C13.4375 22.4254 14.1371 23.125 15 23.125Z"
                                fill="#FF7172"></path>
                            <path d="M15 7.5V17.5" stroke="#FE6868" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                        </svg> Funds are safe and secure, and can be transferred at any time
                    </div>
                    <div data-v-002ff529="" class="StrongBox__container-income-godetail">Learn about safes <img
                            data-v-002ff529="" src="/assets/png/nextIcon-4b99d075.png" alt=""></div>
                </div>
                <div data-v-002ff529="" class="StrongBox__container-record">
                    <img src="/assets/png/history.png" style="margin-right: 5px;" class="svg-icon icon-historyHead" />
                    <!-- <svg data-v-002ff529=""
                        class="svg-icon icon-historyHead">
                        <use xlink:href="#icon-historyHead"></use>
                    </svg> -->
                     Historical records</div>
                <div class="safe-history">
                </div>
                <div data-v-002ff529="" class="StrongBox__container-allRecord" onclick="location.href='/safe-history'">All history</div>
            </div>
        </div>
    </div>

    <div role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom transferIn-popup" data-v-002ff529="" style="z-index: 2008;display:none;"><div data-v-002ff529="" class="popup__header">Transfer In</div><div data-v-002ff529="" class="popup__amount"><div data-v-002ff529="">Each amount</div><div data-v-002ff529="">100</div></div>
    <div data-v-002ff529="" class="popup__container">
        <div data-v-002ff529="" class="van-cell van-field popup__container-input">
            <div class="van-cell__value van-field__value">
                <div class="van-field__body"><input type="text" oninput="value=value.replace(/\D/g,'');setTransferInAmount()" maxlength="6" id="transferIn-input"
                        class="van-field__control" placeholder="Please enter Amount" value="2"></div>
            </div>
        </div>
        <div data-v-002ff529="" class="popup__container-errorTip transferIn-error" style="display: none;"><svg data-v-002ff529="" width="30" height="30"
                viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="StrongBox__container-errorTip">
                <path
                    d="M15 27.5C18.4517 27.5 21.5768 26.1009 23.8388 23.8388C26.1009 21.5768 27.5 18.4517 27.5 15C27.5 11.5482 26.1009 8.42325 23.8388 6.16116C21.5768 3.89911 18.4517 2.5 15 2.5C11.5482 2.5 8.42325 3.89911 6.16116 6.16116C3.89911 8.42325 2.5 11.5482 2.5 15C2.5 18.4517 3.89911 21.5768 6.16116 23.8388C8.42325 26.1009 11.5482 27.5 15 27.5Z"
                    stroke="#FE6868" stroke-linejoin="round"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 23.125C15.8629 23.125 16.5625 22.4254 16.5625 21.5625C16.5625 20.6996 15.8629 20 15 20C14.1371 20 13.4375 20.6996 13.4375 21.5625C13.4375 22.4254 14.1371 23.125 15 23.125Z"
                    fill="#FF7172"></path>
                <path d="M15 7.5V17.5" stroke="#FE6868" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg><span>Insufficient amount available</span></div>
        <div data-v-002ff529="" class="popup__container-multiple">
            <div data-v-002ff529="" class="multiply active" data-x="2">2x</div>
            <div data-v-002ff529="" class="multiply" data-x="5">5x</div>
            <div data-v-002ff529="" class="multiply" data-x="10">10x</div>
            <div data-v-002ff529="" class="multiply" data-x="50">50x</div>
            <div data-v-002ff529="" class="multiply" data-x="100">100x</div>
            <div data-v-002ff529="" class="multiply" data-x="200">200x</div>
            <div data-v-002ff529="" class="multiply" data-x="500">500x</div>
            <div data-v-002ff529="" class="multiply" data-x="1000">1000x</div>
        </div>
        <div data-v-002ff529="" class="popup__container-numLine">
            <div data-v-002ff529="">Amount available</div>
            <div data-v-002ff529="" class="popup__container-numLine-num">₹<span id="money">0.00</span></div>
        </div>
        <!-- <div data-v-002ff529="" class="betTip">Need to bet<span data-v-002ff529="">₹0.14</span>Could Transfer In After</div> -->
        <div data-v-002ff529="" class="popup__container-numLine"  style="margin-top: .25333rem;">
            <div data-v-002ff529="">Amount transferred</div>
            <div data-v-002ff529="" class="popup__container-numLine-num red">₹<span id="transferIn-amount">200</span></div>
        </div>
    </div>
    <div data-v-002ff529="" class="popup__container-sumbit" id="transferIn-button">Transfer In</div></div>
    
    <div role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom transferOut-popup" data-v-002ff529="" style="z-index: 2008;display: none;">
        <div data-v-002ff529="" class="popup__header">Transfer Out</div>
        <!-- <div data-v-002ff529="" class="popup__amount"><div data-v-002ff529="">Each amount</div><div data-v-002ff529="">100</div></div> -->
    <div data-v-002ff529="" class="popup__container">
        <!-- <div data-v-002ff529="" class="van-cell van-field popup__container-input">
            <div class="van-cell__value van-field__value">
                <div class="van-field__body"><input type="text" oninput="value=value.replace(/\D/g,'');setTransferAmount()" maxlength="6" id="transferOut-input" 
                        class="van-field__control" placeholder="Please enter Amount" ></div>
            </div>
        </div> -->
        <!-- <div data-v-002ff529="" class="popup__container-errorTip">
            <svg data-v-002ff529="" width="30" height="30"
                viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="StrongBox__container-errorTip">
                <path
                    d="M15 27.5C18.4517 27.5 21.5768 26.1009 23.8388 23.8388C26.1009 21.5768 27.5 18.4517 27.5 15C27.5 11.5482 26.1009 8.42325 23.8388 6.16116C21.5768 3.89911 18.4517 2.5 15 2.5C11.5482 2.5 8.42325 3.89911 6.16116 6.16116C3.89911 8.42325 2.5 11.5482 2.5 15C2.5 18.4517 3.89911 21.5768 6.16116 23.8388C8.42325 26.1009 11.5482 27.5 15 27.5Z"
                    stroke="#FE6868" stroke-linejoin="round"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 23.125C15.8629 23.125 16.5625 22.4254 16.5625 21.5625C16.5625 20.6996 15.8629 20 15 20C14.1371 20 13.4375 20.6996 13.4375 21.5625C13.4375 22.4254 14.1371 23.125 15 23.125Z"
                    fill="#FF7172"></path>
                <path d="M15 7.5V17.5" stroke="#FE6868" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>Insufficient amount available.</div>
         -->
        <div data-v-002ff529="" class="popup__container-numLine" style="margin-top: .25333rem;">
            <div data-v-002ff529="">Withdrawal Amount</div>
            <div data-v-002ff529="" class="popup__container-numLine-num wallet-amount">₹0.00</div>
        </div>
       
        <div data-v-002ff529="" class="popup__container-numLine" style="margin-top: .25333rem;">
            <div data-v-002ff529="">Invested Amount</div>
            <div data-v-002ff529="" class="popup__container-numLine-num red">₹<span id="transferOut-amount">0.00</span></div>
        </div>
        <div data-v-002ff529="" class="popup__container-numLine" style="margin-top: .25333rem;">
            <div data-v-002ff529="">Daily Interest Rate</div>
            <div data-v-002ff529="" class="popup__container-numLine-num ">0.1%</div>
        </div>
        <div data-v-002ff529="" class="popup__container-numLine" style="margin-top: .25333rem;">
            <div data-v-002ff529="">Income</div>
            <div data-v-002ff529="" class="popup__container-numLine-num red" id="interest-income">₹0.00</div>
        </div>
    </div>
    <div data-v-002ff529="" class="popup__container-sumbit" id="transferOut-button">Transfer Out</div></div>

    
    <div data-v-3e71d3da="" data-v-002ff529="" style="display:none;" class="dialog active confirm-popup">
        <div data-v-3e71d3da="" class="dialog__container" role="dialog" tabindex="0">
            <div data-v-3e71d3da="" class="dialog__container-img"><img data-v-3e71d3da="" class="" alt=""
                    data-origin="/assets/png/tip-2298bb83.png" src="/assets/png/tip-2298bb83.png"></div>
            <div data-v-3e71d3da="" class="dialog__container-title">
                <h1 data-v-3e71d3da="">No income</h1>
            </div>
            <div data-v-3e71d3da="" class="dialog__container-content">
                <div data-v-002ff529="" class="tipText">No income at the moment, want to transfer out</div>
            </div>
            <div data-v-3e71d3da="" class="dialog__container-footer"><button data-v-3e71d3da="" onclick="openTransferPopup()">Transfer Out</button><button
                    data-v-3e71d3da="" onclick="cancel()">Cancel</button></div><!--v-if-->
        </div>
        <div data-v-3e71d3da="" class="dialog__outside"></div>
    </div>
    <div class="van-overlay transfer-overlay" style="z-index: 2003; display: none;" onclick="hidePopup()"></div>
    <div class="van-overlay loader-overlay" style="z-index: 2003; display: none;">
        <div data-v-7692a079="" data-v-42f27458="" class="Loading c-row c-row-middle-center"
            style="position: fixed;height: 100vh;width: 100vw;top: 0;left: 0;background: rgba(0,0,0,.6);z-index: 99999;">
            <div data-v-7692a079="" class="van-loading van-loading--circular">
                <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                    style="width: auto; height: auto; -webkit-animation-duration: 1s; animation-duration: 1s;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet"
                        style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                        <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)"
                            style="display: block;">
                            <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice"
                                xlink:href="/index_files/loadingspinner.png">
                            </image>
                        </g>
                    </svg>
                </span>
                <img src="/index_files/h5setting_202401100608011fs2.png"
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 168px; height: 44px;">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        let interestAmount = $('.interest-amount').html();
        let multiply =[2,5,10,50,100,200,500,1000];
        let money=0;
        const alertMess = (text, sic) => {
            $('body').append(
                `
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                    </div>
                    `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        function transferIn(){
            $('.transfer-overlay').fadeIn(10);
            $('.transferIn-popup').fadeIn(10);
        }
        
        function hidePopup(){
            $('.transfer-overlay').fadeOut(10);
            $('.transferIn-popup').fadeOut(10);
            $('.transferOut-popup').fadeOut(10);
            // $('#transferOut-input').val('0');
            // $('#transferOut-amount').html('0.00');
            // $('.multiply').removeClass('active');
            // $('#transferIn-input').val('2')
            // $('#transferIn-amount').html('200');
            // $('.multiply').removeClass('active');
            // $('.multiply').eq(0).addClass('active');
        }

        function transferOut(){
         if(interestAmount && parseFloat(interestAmount) > 0){
            $('.transfer-overlay').fadeIn(10);
            $('.transferOut-popup').fadeIn(10);
         }
         else{
            $('.confirm-popup').fadeIn(10);
         }
        }
        
        function openTransferPopup(){
            // $('#interest-income').html(interestAmount);
            $('.confirm-popup').fadeOut(10);
            $('.transfer-overlay').fadeIn(10);
            $('.transferOut-popup').fadeIn(10);
        }

        function cancel(){
            $('.confirm-popup').fadeOut(10);
        }

        function setTransferAmount(){
            let value = $('#transferOut-input').val().trim();
            if(value && parseInt(value) > 0){
                $('#transferOut-amount').html(parseInt(value)*100)
            }
            else{
                $('#transferOut-amount').html('0.00');
            }
        }
        
        function setTransferInAmount(){
            let value = $('#transferIn-input').val().trim();
            if(value && parseInt(value) > 0){
                $('.multiply').removeClass('active');
                if(multiply.includes(parseInt(value))){
                    let index = multiply.indexOf(parseInt(value));
                    $('.multiply').eq(index).addClass('active');
                }
                $('#transferIn-amount').html(parseInt(value)*100)
            }
            else{
                $('.multiply').removeClass('active');
                $('#transferIn-amount').html('0.00');
            }
        }
        
        $(".multiply").click(function(){
            $('.multiply').removeClass('active');
            let value = $(this).attr("data-x");
            $(this).addClass('active');
            $('#transferIn-input').val(value);
            $('#transferIn-amount').html(parseInt(value)*100)
        });
        
        $('#transferIn-button').click(function(){
         $('.transferIn-error').fadeOut(10);
         let amount = $('#transferIn-amount').html();
         
         if(parseInt(amount) == 0){
            $('.transferIn-error span').html("Transfer Amount should not be 0.")
            $('.transferIn-error').fadeIn(10);
            return;
         }
         if(parseInt(amount) > money){
            $('.transferIn-error span').html("Insufficient amount available.")
            $('.transferIn-error').fadeIn(10);
            return;
         }
         transferMoney(parseInt(amount))
        })

        function transferMoney(amount){
            $('.loader-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/transferToSafe",
                    data: {amount},
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            const { safeAmount } = response.data;
                            $('.safe-amount').html('₹'+safeAmount);
                            money-= amount;
                            $('#money').html(money);
                            $('#transferOut-amount').html(safeAmount);
                            $('.wallet-amount').html('₹'+(parseInt(safeAmount)+parseFloat($('.interest-amount').html())));
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                            setTimeout(alertMess(response.message, $(this)), 350)
                            hidePopup();
                        }
                        else {
                            setTimeout(alertMess(response.message, $(this)), 350)
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                        }
                    }
                });
        
            }

        $('#transferOut-button').click(function(){
          let safeAmount =  $('#transferOut-amount').html();
          if(parseInt(safeAmount) === 0){
            setTimeout(alertMess("Transfer Amount should not be 0.", $(this)), 350)
          }
          transferMoneyOut(parseInt(safeAmount));
        })

        function transferMoneyOut(amount){
            $('.loader-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/transferOut",
                    data: {amount},
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            const { totalInterest } = response.data;
                            money+=amount+parseFloat($('.interest-amount').html());
                            $('#money').html(money);
                            $('.safe-amount').html('₹0.00');
                            $('.interest-amount').html('0.00');
                            $('#transferOut-amount').html('0.00');
                            $('#interest-income').html('₹0.00');
                            $('.total-interest').html('₹'+totalInterest)
                            $('.wallet-amount').html('₹0.00');
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                            setTimeout(alertMess(response.message, $(this)), 350)
                            hidePopup();
                        }
                        else {
                            setTimeout(alertMess(response.message, $(this)), 350)
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                        }
                    }
                });
        }

        $(document).ready(function () {
            $('.loader-overlay').fadeIn(10);
        });
        $(window).on('load',
            function () {
                $('.loader-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/safe",
                    data: {},
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            money = response.data.money;
                            const {safeAmount,interest_amount,totalInterest,safeList} = response.data;
                            interestAmount = interest_amount;
                            $('#money').html(money);
                            $('.safe-amount').html('₹'+safeAmount);
                            $('.interest-amount').html(interest_amount);
                            $('.total-interest').html('₹'+totalInterest)
                            $('#transferOut-amount').html(safeAmount);
                            $('#interest-income').html('₹'+interest_amount);
                            $('.wallet-amount').html('₹'+(parseInt(safeAmount)+parseInt(interest_amount)));
                            if(safeList.length > 0){
                             let text=``;
                             for(let i of safeList){
                                text+=` <div data-v-6cfd8c1d="" data-v-002ff529=""
                        class="StrongBoxRecordCard__container StrongBox__container-record-card">
                        <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-first">
                            <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-buttom" style="${i.type == 'Transfer In' ? 'background-color: #61a9ff;color: #f0f1f5;':""}">${i.type}</div>
                            <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-num">${i.type == 'Transfer In' ? '+': '-'}₹${i.amount}</div>
                        </div>
                        <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-rale"><span
                                data-v-6cfd8c1d="">Daily interest rate</span><span data-v-6cfd8c1d="">0.10%</span></div>
                        <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-rale"><span
                                data-v-6cfd8c1d="">Payout income</span><span data-v-6cfd8c1d=""
                                class="StrongBoxRecordCard__container-rale-num">₹${i.type == 'Transfer In' ? '0.00':i.interest_amount}</span></div>
                        <div data-v-6cfd8c1d="" class="StrongBoxRecordCard__container-last"><span
                                data-v-6cfd8c1d="">${i.transcationId}</span><span data-v-6cfd8c1d="">${i.time}</span></div>
                    </div>`
                             }
                             $('.safe-history').html(text);
                            }
                            else{
                                let text=`<div data-v-31900034="" class="list">
                <div data-v-31900034="" class="van-empty">
                    <div class="van-empty__image"><img src="/images/empty-image-default.png" /></div>
                    <p class="van-empty__description">No Data</p>
                </div>
            </div>`
            $('.safe-history').html(text);
                            }
                            
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                        }
                        else {
                            setTimeout(alertMess(response.message, $(this)), 350)
                            setTimeout($('.loader-overlay').fadeOut(300), 500)
                        }
                    }
                });

            });

    </script>
</body>

</html>